@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is still under construction.</p>
   <p>If you're wondering how I'm proceeding with this project, feel free to <a href="https://google.com/">click here</a>.</p>
</div>
